@model Event_Management_System.Dto.Event.CreateEventDto

@{
    ViewBag.Title = "Create Event";
    Layout = "_Layout";
}
<div class="col-lg-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h4>Add Event</h4>
                </div>
            </div>
        </div>
        <div class="widget-content widget-content-area">
            <form enctype="multipart/form-data" href="/event/create" method="post">
                <div style="color: red" asp-validation-summary="ModelOnly"></div>

                <div class="form-group mb-4">
                    <label for="exampleFormControlInput2">Title</label>
                    <span class="text-danger" asp-validation-for="Title"></span>
                    <input type="text" asp-for="Title" class="form-control" id="exampleFormControlInput2" placeholder="Enter title">
                </div>

                <div class="form-group mb-4">
                    <label for="exampleFormControlSelect1">Status</label>
                    <span class="text-danger" asp-validation-for="Status"></span>

                    <select asp-for="Status" class="form-control" id="exampleFormControlSelect1">
                        <option value="">-- Select event status --</option>
                        <option value="1">Active</option>
                        <option value="2">Completed</option>
                    </select>
                </div>

                <div class="form-group mb-4">
                    <label for="rangeCalendarFlatpickr">Event Date</label>
                    <span class="text-danger" asp-validation-for="EventDate"></span>
                    <input id="rangeCalendarFlatpickr" class="form-control flatpickr" type="text" placeholder="Select date" />
                    <input type="hidden" asp-for="EventDate" id="EventDateHidden" />
                </div>

                <div class="form-group mb-4">
                    <label for="locationInput">Location</label>
                    <span class="text-danger" asp-validation-for="Location"></span>
                    <input type="text" asp-for="Location" class="form-control" id="locationInput" placeholder="Enter location">
                </div>

                <div class="form-group mb-4">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <span class="text-danger" asp-validation-for="Description"></span>
                    <textarea asp-for="Description" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter description"></textarea>
                </div>

                <div class="form-group mb-4 mt-3">
                    <label for="exampleFormControlFile1">Event File</label>
                    <span class="text-danger" asp-validation-for="File"></span>
                    <input asp-for="File" type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>

                <input type="submit" value="Create Event" class="mt-4 mb-4 btn btn-primary">
            </form>
        </div>
    </div>
</div>
